@import "tailwindcss";

@theme {
  --color-brand: #3b82f6;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-gray-950 text-gray-100;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
